/**!
 * [新点智慧云]
 * author: [libo];
 * data:2016-7-19;
 */


/*头部css*/

.top {
    background-color: #397ddb;
    height: 71px;
    margin: 0 auto;
}


/*头部右侧栏部分样式*/

.top-rightside {
    width: 256px;
    height: 40px;
    margin-top: 17px;
    margin-right: 20px;
    position: relative;
}

.top-rightside img {
    margin-left: 15px;
    cursor: pointer;
}

.top-rightside img:nth-child(1) {
    margin-right: 15px;
}

.top-rightside span {
    position: relative;
    bottom: 15px;
    font-size: 13px;
    color: #fff;
}

.num-icon {
    width: 20px;
    height: 13px;
    background-color: #f86d4d;
    position: absolute;
    top: 0px;
    text-align: center;
    line-height: 13px;
    color: #ffffff;
    right: 52px;
    -moz-border-radius: 10px;
    /* Gecko browsers */
    -webkit-border-radius: 10px;
    /* Webkit browsers */
    border-radius: 10px;
    /* W3C syntax */
}


/*操作部分部分样式*/

.operation {
    height: 50px;
    background-color: #f8fafe;
}

.operation h1 {
    font-family: 宋体;
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    margin-left: 20px;
    color: #333333;
}

.li-history {
    margin-top: 2px;
}


/*鼠标悬停切换操作图标*/

.li-down:hover img {
    background: url(../images/down-active-icon.png);
}

.li-comment:hover img {
    background: url(../images/comment-active-icon.png);
}

.li-label:hover img {
    background: url(../images/label-active-icon.png);
}

.li-history:hover img {
    background: url(../images/history-active-icon.png);
}

.li-about:hover img {
    background: url(../images/about-active-icon.png);
}


/*右侧操作部分部分样式*/

.operation-icon ul {
    margin-top: 12px;
    margin-right: 20px;
}

.operation-icon li {
    float: left;
    margin-left: 15px;
}

.operation-icon li img {
    display: block;
    margin: 0 auto;
}


/*左侧树部分样式*/

.lefttree {
    position: absolute;
    width: 354px;
    background-color: #f4f4f4;
    top: 121px;
    left: 0;
    bottom: 0;
}

.title {
    height: 38px;
    background-color: #e8e8e8;
}

.lefttree span {
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 25px;
}

.title-first {
    display: inline-block;
    width: 235px;
    border-right: 1px solid #cfcfcf;
}

.title-second {
    display: inline-block;
    width: 114px;
}


/*右侧版本内容*/

.righttable {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 354px;
    top: 121px;
}

.righttable-title {
    height: 45px;
    background-color: #f4f4f4;
}

.righttable-title li {
    float: left;
    width: 15%;
    min-width: 90px;
    text-align: center;
    font-size: 16px;
    line-height: 45px;
    cursor: pointer;
}

.righttable-title li:nth-child(2) {
    font-weight: bold;
}


/*右侧内容*/


/*现在版本样式*/

.checkstatus {
    background-color: #ffffff;
    border-top: 2px solid #f88a4d;
}

.current-version {
    display: block;
    padding: 30px 30px;
}

.current-version h2 {
    font-size: 16px;
    line-height: 30px;
    width: 230px;
    margin: 0 auto;
    padding-top: 15px;
}

.current-version p {
    font-size: 14px;
    line-height: 30px;
}


/*历史版本样式*/

.history-version {
    display: none;
}

.history-version table {
    width: 100%;
}

.history-thead td {
    height: 34px;
    text-align: center;
    color: #ffffff;
    border-right: 1px solid #f2f2f2;
    background-color: #969fac;
    font-size: 12px;
}

.history-version table td {
    text-align: center;
    height: 50px;
    font-size: 14px;
    border-right: 1px solid #f2f2f2;
}

.look {
    cursor: pointer;
}

.history-version table tr:nth-child(even) {
    background-color: #ffffff;
}

.history-version table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
